<!DOCTYPE html>
<html>
  {% include base/head.html %} 
  <body>

    {% include scripts/js_fb-app.html %}
    {% include base/preloader.html %}
    <a id="top"></a>
    {% if page.layout == "docs-foundation" %}
       {% include base/nav_top-right-docs.html %}
    {% endif %}
    {% if page.layout == "docs-fullpage_js" %}
       {% include base/nav_top-right-docs.html %}
    {% else %}
       {% include base/nav_top-right.html %}
    {% endif %}

    {{ content }}
    
     {% include base/back_top_btn.html %}

    <script type="text/javascript" src="{{ site.baseurl }}/lib/js/script.js"></script>
    
    {% include scripts/js_init_fullpage.html %}
    {% include scripts/js_g_analytics.html %}

  </body>
</html>

