---
layout: page-fullpage
auto-scroll: false
txt-color: dark
page-id: hello
title: "Newsletter"
description: "Sign up to get our newsletter"

---

{% if page.hero == true %}
<div class="section hero">

	<div  class="hero-txt center-center">
		<h1>{{ page.title }}</h1>
		<h3>{{ page.description }}<br></h3>

		<h4>
			<a href="#content" class="page-scroll">
				read more
			</a> <i class="fa fa-chevron-down" aria-hidden="true"></i>
		</h4>
	</div>

	<div class="slide post-hero-slide-bg" style="background: url({{ site.baseurl }}{{ page.cover }}) no-repeat center center;"></div>

</div><!-- cover post -->
{% endif %}

<div id="content" class="section fp-auto-height">
	<div class="row">
		{% if page.hero != true %}
		<div class="small-12 large-8 large-centered columns text-center">
			<h1>{{ page.title }}</h1>
			<h4>{{ page.description }}</h4>
			<br>
			{% if page.cover != null %}<img src="{{ site.baseurl }}{{ page.cover }}">{% endif %}
		</div>
		{% endif %}
		<div class="small-12 large-8 large-centered columns">
			<p>Kenzie Notes is my exclusive weekly newsletter written with the goal of providing readers with simple, practical tools to tackle tough problems and make great things happen in the workplace and at home. While some of those articles will eventually end up published here, most will only be available via the newsletter.</p>

			<h3 class="text-center">The Kenzie Notes offer:</h3>

			<p>
			Ideas on the latest on design thinking, education, technology, and psychology that can directly impact your productivity.<br>
			A look at what other interesting people are doing to advance innovation personally and professionally.<br>
			Transformative ideas from my favorites areas of interest (design, music, psychology, technology, education).<br>
			A behind the scenes look at how I approach problems in areas (presentation, speaking, marketing, product development, teaching, design, technology)<br>
			To be the first to receive The Kenzie Notes each week, enter your email below, and let’s get started. While you’re waiting for the next newsletter (now delivered on Wednesday), you can check out my latest articles.<br>
			</p>

			{% include scripts/embed_mailchimp.html %}

		</div>
	</div>
</div>
